- var blockName = "filter-fat"
include ./block-init.pug

fieldset.filter-fat(class=[mix, mod])
  legend.filter-fat__title
    | Жирность:
  .filter-fat__wrap
    each radio, index in fatSort
      input.filter-fat__radio(
        id="filter-fat__radio--" + index,
        type="radio",
        name="filter-fat",
        checked= (index == 0) ? true : false
        )
      label(for="filter-fat__radio--" + index)
        | #{radio}
